<a href="https://colab.research.google.com/github/yogesh-bhattarai/python_class/blob/master/day_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
age= int(input("Enter your age:"))
if age>=18:
  print("you are eligible for citizenship")
else:
  print("you are under age")

Enter your age:3
you are under age

In [6]:
marks= int(input("Enter the marks:"))
if marks>=90:
  print("Grade A")
elif marks>=80:
  print("Grade B")
elif marks>=70:
  print("Grade C")
else:
  print("Grade D")

Enter the marks:92
Grade A

In [10]:
age = int(input("Enter your age:"))
is_citizen= False
if age>=18:
  if is_citizen:
    print("you are eligible to vote")
  else:
    print("you are not eligible to vote")
else:
  print("you are not eligible to vote because you are underage")

Enter your age:15
you are not eligible to vote because you are underage

In [11]:
# for loops concept

In [13]:
for i in range(1,7):
  print(i)

1
2
3
4
5
6

In [14]:
fruits=['apple','banana','cherry']
for i in fruits:
  print(i)

apple
banana
cherry

In [15]:
fruits=['apple','banana','cherry']
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

In [16]:
print(1+2+3+4+5)

15

In [17]:
total=0
for i in range(1,6):
  total=total+i
print("Total:",total)

Total: 15

In [ ]:
total=0
i=1
total=0+1
total=1
i=2
total=2+1
total=3
i=3
toal=9

In [23]:
#multiplication
a= int(input("Enter the number:"))
for i in range(1,11):
  result= i*a
  print(f"{a} * {i} = {result}")

Enter the number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [1]:
i=1
while i<=5:#True
  print(i)
  i=i+1

1
2
3
4
5

In [2]:
rows=5
for i in range(1,rows+1):
  print("*"*i)

*
**
***
****
*****

In [4]:
#loops with else block
numbers=[0,1,2,3,4,5]
for num in numbers:
  if num==0:
    print("Found 0")
    break
else:
  print("No zero found in this list")

Found 0

In [5]:
for i in range(1,11):
  if i==3:
    break
  print(i)

1
2

In [6]:
for i in range(1,11):
  if i==3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [10]:
for i in range(1,11):
  pass