<a href="https://colab.research.google.com/github/yogesh-bhattarai/python_class/blob/master/file_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
file= open("/content/data.txt","r")

In [2]:
file

In [5]:
file= open("/content/data.txt","r")
content= file.read()
print(content)
file.close()

hello i am data scientist

In [9]:
file= open("/content/data.txt","a")
file.write("\ni am learning python")
file.close()

In [12]:
with open("/content/data.txt",'r') as f:
  content= f.read()
  print(content)
f.close()

hello i live in kathmandui am learning python
i am learning python

In [14]:
print(10/0)

ZeroDivisionError: division by zero

In [15]:
try:
  x=10/0
except ZeroDivisionError:
  print("You cannot divide by zero")

You cannot divide by zero

In [16]:
try:
  x= int("abc")
except ValueError:
  print("Invalid value")

Invalid value

In [17]:
num= 0
if num==0:
  print("cannot divide")
else:
  print(10/num)

cannot divide

In [19]:
try:
  print(12/2)
except ZeroDivisionError:
  print("cannot divide by zero")
finally:
  print("This block of code run no matter what")

6.0
This block of code run no matter what

In [21]:
import pandas as pd
df= pd.read_excel(r"/content/titanic3.xlsx")

In [22]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN