<a href="https://colab.research.google.com/github/yogesh-bhattarai/python_class/blob/master/Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list= [1,2,3,4]

In [2]:
type(my_list)

list

In [3]:
my_tuple=(1,2,3,4)

In [4]:
print(my_tuple)

(1, 2, 3, 4)

In [5]:
type(my_tuple)

tuple

In [6]:
person= ("aadarsha",24,"Nepal")
print(person)

('aadarsha', 24, 'Nepal')

In [9]:
person[2]

'Nepal'

In [10]:
my_tuple

(1, 2, 3, 4)

In [11]:
my_tuple[1]=20

TypeError: 'tuple' object does not support item assignment

In [12]:
my_list

[1, 2, 3, 4]

In [13]:
my_list[1]= 24

In [14]:
my_list

[1, 24, 3, 4]

In [20]:
t=(5,)

In [21]:
type(t)

tuple

In [22]:
numbers=(10,20,30)
for n in numbers:
  print(n)

10
20
30

In [27]:
a=(1,2,3)
a_list= list(a)
a_list.append(5)
t= tuple(a_list)
print(t)

(1, 2, 3, 5)

In [29]:
print(t)

(1, 2, 3, 5)

In [30]:
#sets

In [31]:
my_set={1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [32]:
numbers={1,2,2,3,3,3,4,4,5,5,5}
print(numbers)

{1, 2, 3, 4, 5}

In [34]:
numbers.add(6)

In [35]:
numbers

{1, 2, 3, 4, 5, 6}

In [39]:
numbers.remove(60)

KeyError: 60

In [37]:
numbers

{1, 2, 3, 4, 5}

In [40]:
numbers.discard(50)

In [41]:
numbers

{1, 2, 3, 4, 5}

In [42]:
s={1,2,3,4}
print(2 in s)

True

In [43]:
print(6 in s)

False

In [44]:
nested_list=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [48]:
print(nested_list[2][2])

9

In [49]:
#dictionary

In [50]:
student={
    "name": "Ram",
    "age": 23,
    "city": "Kathmandu"
}

In [54]:
print(student['city'])

Kathmandu

In [55]:
student['grade']= "A"
print(student)

{'name': 'Ram', 'age': 23, 'city': 'Kathmandu', 'grade': 'A'}

In [56]:
student['age']= 30

In [57]:
student

{'name': 'Ram', 'age': 30, 'city': 'Kathmandu', 'grade': 'A'}

In [58]:
students={
    "name": "Yogesh",
    "marks":{
        "math":90,
        "science":45
    }
}

In [61]:
print(students["marks"]['math'])

90

In [62]:
students=[
    {"name":"Ram","age":23},
    {"name":"Shyam","age":24},
    {"name":"Hari","age":25},
]

In [66]:
print(students[1]['age'])

24

In [67]:
dummy = [
    {
        "symbol": "BHL",
        "full_name": "Balephi Hydropower Limited",
        "sector": "HydroPower",
        "open": 178.0,
        "high": 180.7,
        "low": 178.0,
        "close": 178.0,
        "remaining_quantity": 2,
        "average_buy_price": 209.0,
        "total_buy_cost": 418.0,
        "current_value": 357.0,
        "profit_loss": -61.0,
        "profit_loss_percent": -14.59,
        "break_even_price": 209.0,
        "down_from_cost_percent": 14.59,
        "gain_needed_to_break_even_percent": 17.09,}]

In [70]:
dummy[0]['full_name']

'Balephi Hydropower Limited'

In [71]:
sqaures= {x: x*x for x in range(1,6)}

In [72]:
print(sqaures)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [73]:
names=["Ram","Shyam","Hari"]
lenght= {name : len(name) for name in names}

In [74]:
print(lenght)

{'Ram': 3, 'Shyam': 5, 'Hari': 4}